src/main/resources/wsdl/YMB/CobrancaEndpointService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-07/07/2014 12:56 PM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.webservice.ymb.app.bsbr.altec.com/" version="1.0" targetNamespace="http://impl.webservice.ymb.app.bsbr.altec.com/">

  <xs:element name="WebServiceException" nillable="true" type="tns:faultInfo"></xs:element>

  <xs:element name="consultaTitulo" type="tns:consultaTitulo"></xs:element>

  <xs:element name="consultaTituloResponse" type="tns:consultaTituloResponse"></xs:element>

  <xs:element name="getVersion" type="tns:getVersion"></xs:element>

  <xs:element name="getVersionResponse" type="tns:getVersionResponse"></xs:element>

  <xs:element name="registraTitulo" type="tns:registraTitulo"></xs:element>

  <xs:element name="registraTituloResponse" type="tns:registraTituloResponse"></xs:element>

  <xs:complexType name="getVersion">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVersionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="consultaTitulo">
    <xs:sequence>
      <xs:element name="dto" type="tns:tituloGenericRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tituloGenericRequest">
    <xs:sequence>
      <xs:element name="dtNsu" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estacao" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nsu" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ticket" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tpAmbiente" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="consultaTituloResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:tituloGenericResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tituloGenericResponse">
    <xs:sequence>
      <xs:element name="codcede" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="convenio" type="tns:convenioDto" minOccurs="0"></xs:element>
      <xs:element name="descricaoErro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dtNsu" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estacao" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nsu" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pagador" type="tns:pagadorDto" minOccurs="0"></xs:element>
      <xs:element name="situacao" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="titulo" type="tns:tituloDto" minOccurs="0"></xs:element>
      <xs:element name="tpAmbiente" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="convenioDto">
    <xs:sequence>
      <xs:element name="codBanco" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codConv" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pagadorDto">
    <xs:sequence>
      <xs:element name="bairro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cep" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cidade" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ender" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nome" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numDoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tpDoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="uf" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tituloDto">
    <xs:sequence>
      <xs:element name="aceito" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cdBarra" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dtEmissao" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dtEntr" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dtLimiDesc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dtVencto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="especie" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="linDig" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="mensagem" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nossoNumero" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pcJuro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pcMulta" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="qtDiasBaixa" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="qtDiasMulta" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="qtDiasProtesto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="seuNumero" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tpDesc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tpProtesto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="vlAbatimento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="vlDesc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="vlNominal" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="faultInfo">
    <xs:sequence>
      <xs:element name="code" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registraTitulo">
    <xs:sequence>
      <xs:element name="dto" type="tns:tituloGenericRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registraTituloResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:tituloGenericResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>