src/main/resources/wsdl/WSTransacional-wsdl.xml

<definitions name='WSTransacional' targetNamespace='http://webservice.pamcard.jee.pamcary.com.br'
             xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
             xmlns:tns='http://webservice.pamcard.jee.pamcary.com.br'>
 <types>
  <xs:schema targetNamespace='http://webservice.pamcard.jee.pamcary.com.br' version='1.0' xmlns:tns='http://webservice.pamcard.jee.pamcary.com.br' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='execute' type='tns:execute'/>
   <xs:element name='executeResponse' type='tns:executeResponse'/>
   <xs:complexType name='execute'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='tns:requestTO'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='requestTO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='context' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='fields' nillable='true' type='tns:fieldTO'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='fieldTO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='key' type='xs:string'/>
     <xs:element minOccurs='0' name='value' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='executeResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:responseTO'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='responseTO'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='fields' nillable='true' type='tns:fieldTO'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='WSTransacional_execute'>
  <part element='tns:execute' name='execute'></part>
 </message>
 <message name='WSTransacional_executeResponse'>
  <part element='tns:executeResponse' name='executeResponse'></part>
 </message>
 <portType name='WSTransacional'>
  <operation name='execute' parameterOrder='execute'>
   <input message='tns:WSTransacional_execute'></input>
   <output message='tns:WSTransacional_executeResponse'></output>
  </operation>
 </portType>
 <binding name='WSTransacionalBinding' type='tns:WSTransacional'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='execute'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='WSTransacional'>
  <port binding='tns:WSTransacionalBinding' name='WSTransacional'>
   <soap:address location='https://qualidade.roadcard.com.br/sistemapamcard/services/WSTransacional'/>
  </port>
 </service>
</definitions>
