src/main/resources/wsdl/DLB/TicketEndpointService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-02/12/2016 11:10:24 PM foreman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.webservice.dl.app.bsbr.altec.com/" version="1.0" targetNamespace="http://impl.webservice.dl.app.bsbr.altec.com/">

  <xs:element name="create" type="tns:create"></xs:element>

  <xs:element name="createResponse" type="tns:createResponse"></xs:element>

  <xs:element name="validate" type="tns:validate"></xs:element>

  <xs:element name="validateResponse" type="tns:validateResponse"></xs:element>

  <xs:complexType name="validate">
    <xs:sequence>
      <xs:element name="ValidateTicketRequest" type="tns:validateTicketRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateTicketRequest">
    <xs:sequence>
      <xs:element name="sistema" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ticket" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateResponse">
    <xs:sequence>
      <xs:element name="ValidateTicketResponse" type="tns:validateTicketResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateTicketResponse">
    <xs:sequence>
      <xs:element name="dados">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
                  <xs:element name="value" minOccurs="0" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="retCode" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="create">
    <xs:sequence>
      <xs:element name="TicketRequest" type="tns:ticketRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ticketRequest">
    <xs:sequence>
      <xs:element name="dados">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
                  <xs:element name="value" minOccurs="0" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="expiracao" type="xs:int"></xs:element>
      <xs:element name="sistema" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createResponse">
    <xs:sequence>
      <xs:element name="TicketResponse" type="tns:ticketResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ticketResponse">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="retCode" type="xs:int"></xs:element>
      <xs:element name="ticket" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>